GroupManager/backup/*
Essentials/userdata/*
MultiInv/Worlds/*
PrivateWarp/players/*
WorldGuard/report.txt
Multiverse-NetherPortals/debug.*
Multiverse-Portals/debug.*
WorldInventories/survival/*
WorldInventories/creative/*
Showcase/stacks.csv
PrivateWarp/players/*
